@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: #666;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header .left-links, .header .right-links {
  display: flex;
  gap: 12px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  gap: 16px;
}

.content .buttons {
  display: flex;
  gap: 12px;
}

.footer {
  background-color: #eeeeee;
}

.footer .left-links, .footer .right-links {
  display: flex;
  gap: 12px;
}